body {
    overflow:hidden;
    font-family: Arial, sans-serif;
}

.map {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 0;
}

.g-search {
}

.g-search button{
}

.g-search .autocomplete {
    text-decoration: none;
}


.card {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 500px;
    height: 100%;
    background: whitesmoke;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 0 0 0 10px;
    padding: 90px 20px 20px 25px;
    transition: 1s;

}

.card-hidden {
    transform: translateX(-100%);

}

.search-container {
    margin-top: 10px;
    margin-left: 15px;
    z-index: 3;
    position: absolute;
    background-color: transparent;
}

.search {
    background-color: transparent;
    border: none;
}

.search input {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 500px;
    height: 50px;
    padding-left: 60px;
    padding-right: 15px;
    font-size: 20px;
    border-radius: 15px;
    background-color: white;
}

.search ul {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    margin-top: -20px;
    padding: 30px 15px 15px 15px;
    list-style: none;
    border-radius: 15px;

    max-width: 470px;
    background-color: white;
}

.search ul li {
    font-size: 20px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 15px;

    cursor: pointer;
}

.search ul li:hover {
    background-color: #e8e8e8;
}

.search ul:empty {
    display: none;
}

.controls-container {
    display: flex;
}

.toggle-card-btn {
    position: absolute;
    width: 40px;
    height: 50px;

    margin-top: 10px;
    margin-left: 550px;

    background-color: whitesmoke;
    border: none;

    border-radius: 15px;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.hover-effect:hover {
    background-color: #e8e8e8;
}

.document-flex-container {
    display: flex;
    align-items: center;
    gap: 15px;

    text-decoration: none;
    color: black;
}

.dimension-switch-container {
    background-color: white;
    width: 250px;
    height: 50px;
    position: absolute;

    right: 10px;
    top: 10px;

    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.dimension-button {
    background-color: white;
    border: none;
    border-radius: 25px;
}

.dimension-button:hover {
    background-color: #e8e8e8;
}

.card-list-item {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px 10px 10px 15px;
    border-radius: 15px;
    margin-top: 5px;
    background-color: white
}

.rosatom-container {
    position: absolute;
    top: 28px;
    left: 35px;
    z-index: 1000000;
    pointer-events: none;
}

.rosatom-container svg {
    pointer-events: none;
}

svg {
    flex-shrink: 0;
}