body {
    overflow:hidden;
    font-family: Arial, sans-serif;
}

.map {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 0;
}

.g-search {
}

.g-search button{
}

.g-search .autocomplete {
    text-decoration: none;
}


.card {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 500px;
    height: 100%;
    background: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 0 0 0 10px;
    padding: 90px 20px 20px 25px;
    transition: 1s;
}

.card-hidden {
    transform: translateX(-100%);

}

.search-container {
    margin-top: 10px;
    margin-left: 10px;
    z-index: 3;
    position: absolute;
    background-color: white;
}

.search {
    background-color: white;
    border: none;
}

.search input {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 500px;
    height: 50px;
    padding-left: 10px;
    font-size: 20px;
}

.search ul {
    background-color: white;
    max-width: 300px;
}

.controls-container {
    display: flex;
}

.toggle-card-btn {
    position: absolute;
    width: 30px;
    height: 50px;

    margin-top: 10px;
    margin-left: 550px;

    background-color: whitesmoke;
    border: none;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.toggle-card-btn:hover {
    background-color: #e8e8e8;
}

.document-flex-container {
    display: flex;
    align-items: center;
    gap: 15px;

    text-decoration: none;
    color: black;
}

.dimension-switch-container {
    background-color: white;
    width: 250px;
    height: 50px;
    position: absolute;

    right: 10px;
    top: 10px;

    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.dimension-button {
    background-color: white;
    border: none;
    border-radius: 25px;
}

.dimension-button:hover {
    background-color: #e8e8e8;
}

.card-list-item {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px 10px 10px 15px;
    border-radius: 15px;
    margin-top: 5px;
}

svg {
    flex-shrink: 0;
}